{
	email off
}

{$PUBLIC_BASE_URL_HOSTNAME} {
	handle /api* {
		reverse_proxy api:3001
	}

	handle /mcp {
		reverse_proxy api:3001
	}

	handle /.well-known/oauth-protected-resource* {
		reverse_proxy api:3001
	}

	handle /sites* {
		reverse_proxy api:3001
	}

	handle /app* {
		reverse_proxy web:3000
	}

	handle {
		reverse_proxy web:3000
	}
}
